<a href="https://colab.research.google.com/github/KutapiAise/DataScience/blob/master/Python_Tricks101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 1: String manipulation

- We can reverse a string easily as well, using [::-1] and this isn’t limited to strings!.

In [ ]:
my_string = "Hi Medium..!"

print(my_string * 2)

print(my_string + " I love Python" * 2)

word_list = ["awesome", "is", "this"]
print(' '.join(word_list[::-1]) + '!')

Hi Medium..!Hi Medium..!
Hi Medium..! I love Python I love Python
this is awesome!

####  2: List comprehensions

In [ ]:
def stupid_func(x):
  return x**2 + 5




my_list = [1, 2, 3, 4, 5]
new_list = []
for x in my_list:
  if x % 2 != 0:
    new_list.append(stupid_func(x))
    
    
print(new_list)

[6, 14, 30]

In [ ]:
print([x ** 2 + 5 for x in my_list if x % 2 != 0])

[6, 14, 30]

#### 3: Lambda & Map

Basically a Lambda function is a small, anonymous function. Why anonymous? Simply because Lambdas are most often used to perform small / simple operations

In [ ]:
stupid_func = (lambda x : x ** 2 + 5)

print([stupid_func(1), stupid_func(3), stupid_func(5)])

[6, 14, 30]

In [ ]:
my_list = [2, 1, 0, -1, -2]
print(sorted(my_list))


# That did the trick, but let’s say we want to sort by the lowest squared number,
# we can use a
# lambda function to define the key, which is what the sorted() method uses to determine how to sort.

print(sorted(my_list, key = lambda x : x ** 2))

[-2, -1, 0, 1, 2]

#### Map
Map is simply a function used to apply a function to some sequence of elements like a list. Let’s
say we have to list where we want to multiply each element in one list with the corresponding element 
in the other, how do we do this? Using a lambda function and map!:

In [ ]:
print(list(map(lambda x, y : x * y, [1, 2, 3], [4, 5, 6])))


# This is simple and elegant compared to this monstrocity:
x, y = [1, 2, 3], [4, 5, 6]
z = []
for i in range(len(x)):
  z.append(x[i] * y[i])
print(z)

[4, 10, 18]
[4, 10, 18]

In [ ]:
# >>> x = int(input())
# >>> if x >= 10:
# >>>     print("Horse")
# >>> elif 1 < x < 10:
# >>>     print("Duck")
# >>> else:
# >>>     print("Baguette")


x = int(input())
print("Horse" if x >= 10 else "Duck" if 1 < x < 10 else "Baguette")

8
Duck

#### 5: zip()

Remember the example from the “map()” section about applying something in parallel between two lists? zip() makes this even easier

In [ ]:
first_names = ["Peter", "Christian", "Klaus"]
last_names = ["Jensen", "Smith", "Nistrup"]

print([' '.join(x) for x in zip(first_names, last_names)])

print([' '.join(x) for x in zip(first_names, last_names[::-1])])

['Peter Jensen', 'Christian Smith', 'Klaus Nistrup']
['Peter Nistrup', 'Christian Smith', 'Klaus Jensen']

6) Underscore for large numbers

In [1]:
number =10_000_000_000
print(f'{number:,}')

10,000,000,000

7) List and dict comprehensions

In [2]:
numbers=[1,2,3,4]
squared=[n*n for n in numbers]
print(squared)

numbers= {'a':1,'b':2,'c':3 ,'d':4}
squared= {k:v*v for (k,v) in numbers.items()}

print(squared)

[1, 4, 9, 16]
{'a': 1, 'b': 4, 'c': 9, 'd': 16}

8) most frequent elemnt in a  list

In [4]:
numbers =[1,1,2,3,4,5,1,8,55]
print(numbers.count)
mostfrequent = max(set(numbers), key = numbers.count)
print(mostfrequent)

<built-in method count of list object at 0x7f3811035948>
1

9) Convert mutable in to Immutable

In [5]:
numbers =[1,2,3,4]
print(type(numbers))
numbers = frozenset(numbers)
print(type(numbers))
numbers[0]= 5
print(numbers)

<class 'list'>
<class 'frozenset'>

TypeError: ignored

10) print monthly calender

In [8]:
import calendar  
print(calendar.month(2020,11))

   November 2020
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30